* {
  margin: 0;
}

body {
  background-color: black;
}

.body {
  width: 100%;
  height: 1500px;
  background-color: white;
}
.body .header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 20000;
}
.body .header a {
  color: white;
  text-decoration: none;
}
.body .header .headerLeft {
  width: 33.33%;
  height: 100%;
  background-color: black;
  text-transform: uppercase;
}
.body .header .headerLeft ul {
  margin-top: 35px;
}
.body .header .headerLeft ul li {
  display: inline;
  color: white;
  background-image: linear-gradient(to right, #FDBC58, #FDBC58 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.body .header .headerLeft ul li:before {
  content: "";
  background: #FDBC58;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.body .header .headerLeft ul li:hover {
  background-position: 0;
}
.body .header .headerLeft ul li:hover::before {
  width: 100%;
}
.body .header .headerMiddle {
  width: 33.33%;
  height: 100%;
  background-color: black;
}
.body .header .headerMiddle .logo {
  width: 80px;
  height: 80px;
  background-image: url(../../images/mcqLogo.png);
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 8px;
}
.body .header .headerRight {
  width: 33.33%;
  height: 100%;
  background-color: black;
  display: inline;
  text-transform: uppercase;
}
.body .header .headerRight ul {
  margin-top: 35px;
}
.body .header .headerRight ul li {
  display: inline;
  color: white;
  background-image: linear-gradient(to right, #FDBC58, #FDBC58 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.body .header .headerRight ul li:before {
  content: "";
  background: #FDBC58;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.body .header .headerRight ul li:hover {
  background-position: 0;
}
.body .header .headerRight ul li:hover::before {
  width: 100%;
}
.body .greeting {
  width: 100%;
  height: 90vh;
  background-color: #FDBC58;
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid black;
}
.body .greeting .greetingText {
  font-size: 80px;
  width: 700px;
  height: 500px;
  position: relative;
  left: 200px;
  top: 200px;
}
.body .greeting .greetingText button {
  width: 300px;
  height: 60px;
  background-color: black;
  border: none;
  position: relative;
  top: 70px;
  left: -240px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}
.body .greeting .greetingText .login {
  font-size: 15px;
  width: 500px;
  text-align: center;
  position: relative;
  top: 80px;
  left: -90px;
  color: white;
}
.body .greeting .books {
  width: 500px;
  height: 500px;
  background-image: url(../../images/books.png);
  background-size: cover;
  margin-left: 400px;
  margin-top: 100px;
}
.body .aboutUsSection {
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.body .aboutUsSection .aboutUsText {
  width: 700px;
  height: 200px;
  margin: 200px;
}
.body .aboutUsSection .aboutUsText h1 {
  font-size: 20px;
}
.body .aboutUsSection .aboutUsText .division {
  width: 200px;
  height: 5px;
  background-color: #FDBC58;
  margin-top: 10px;
}
.body .aboutUsSection .aboutUsText h4 {
  font-size: 40px;
  margin-top: 20px;
  color: #995e05;
  font-family: "Raleway", sans-serif;
}
.body .aboutUsSection .aboutUsText p {
  font-size: 15px;
  margin-top: 20px;
}
.body .aboutUsSection .aboutUsText button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: #e09a33;
  border: none;
  border-radius: 10px;
}
.body .aboutUsSection .aboutUsImage {
  width: 700px;
  height: 500px;
  background-image: url(../../images/teacherDuck.png);
  background-size: cover;
  position: relative;
  top: 50px;
  right: 100px;
}
.body footer {
  width: 100%;
  height: 300px;
  background-color: black;
}
.body .aboutGreeting {
  width: 100%;
  height: 500px;
  background-image: url(../../images/books.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.body .aboutGreeting .blackout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.592);
}
.body .aboutGreeting .blackout h1 {
  color: white;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  top: 100px;
}
.body .aboutGreeting .blackout .devider {
  width: 150px;
  height: 5px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: 120px;
}
.body .aboutGreeting .blackout h2 {
  text-align: center;
  color: white;
  position: relative;
  font-family: "Raleway", sans-serif;
  top: 150px;
}
.body .aboutGreeting .blackout p {
  text-align: center;
  color: white;
  position: relative;
  top: 230px;
}
.body .aboutGreeting .blackout .arrow {
  width: 50px;
  height: 50px;
  background-image: url(../../images/arrow.png);
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 225px;
  animation: myAnim 4s ease 0s infinite normal forwards;
}
.body .aboutDescription {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.body .aboutDescription .descText {
  width: 900px;
  height: 200px;
  position: relative;
  left: 100px;
  top: 130px;
}
.body .aboutDescription .descText h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
}
.body .aboutDescription .descText h3 {
  margin-top: 20px;
}
.body .aboutDescription .us {
  width: 600px;
  height: 500px;
  position: relative;
  left: 250px;
  top: 20px;
}
.body .aboutDescription .isaac {
  width: 300px;
  height: 300px;
  background-color: rgb(127, 159, 255);
  background-image: url(../../images/me.png);
  background-size: cover;
}
.body .aboutDescription .josh {
  width: 300px;
  height: 300px;
  background-color: rgb(127, 255, 191);
  background-image: url(../../images/josh.png);
  background-size: cover;
  position: relative;
  left: 200px;
  top: -100px;
  z-index: 10;
}
.body .helpGreeting {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.body .helpGreeting .aside {
  width: 20%;
  height: 100%;
  background-color: #FDBC58;
}
.body .helpGreeting .aside h1 {
  text-align: center;
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.body .helpGreeting .aside #buttonColor {
  background-color: #FDBC58;
}
.body .helpGreeting .helpContent {
  width: 80%;
  height: 100vh;
  background-color: white;
}
.body .helpGreeting .helpContent .helpImage {
  width: 100%;
  background-image: url(../../images/lake.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.body .helpGreeting .helpContent .helpImage .helpImageBlackout {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.521);
}
.body .helpGreeting .helpContent .helpImage h1 {
  text-align: center;
  position: relative;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.body .helpGreeting .helpContent .icons {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
}
.body .helpGreeting .helpContent .icons .helpChat {
  width: 100px;
  height: 100px;
  background-image: url(../../images/helpIcon1.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .helpChat h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  right: 100px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .helpChat:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .flag {
  width: 100px;
  height: 100px;
  background-image: url(../../images/flag.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .flag h5 {
  position: relative;
  bottom: 25px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .flag:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .email {
  width: 100px;
  height: 100px;
  background-image: url(../../images/email.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .email h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  left: 15px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .email:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .start {
  width: 100px;
  height: 100px;
  background-image: url(../../images/start.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .start h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .start:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .shield {
  width: 100px;
  height: 100px;
  background-image: url(../../images/shield.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .shield h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  right: 15px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .shield:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .contact {
  width: 100px;
  height: 100px;
  background-image: url(../../images/contact.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .contact h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .contact:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .locate {
  width: 100px;
  height: 100px;
  background-image: url(../../images/locate.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .locate h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .locate:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .merch {
  width: 100px;
  height: 100px;
  background-image: url(../../images/merch.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .merch h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .merch:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .question {
  width: 100px;
  height: 100px;
  background-image: url(../../images/question.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .question h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .question:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .helpGreeting .helpContent .icons .donate {
  width: 100px;
  height: 100px;
  background-image: url(../../images/donate.png);
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.body .helpGreeting .helpContent .icons .donate h5 {
  position: relative;
  bottom: 25px;
  width: 300px;
  height: 10px;
  font-size: 15px;
  right: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
.body .helpGreeting .helpContent .icons .donate:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.body .footer {
  width: 100%;
  height: 300px;
  background-color: black;
}
.body .loginContent {
  width: 100%;
  height: 94%;
  background-color: blue;
  display: flex;
  flex-direction: row;
}
.body .loginContent .loginForm {
  width: 30%;
  height: 100%;
  background-color: white;
}
.body .loginContent .loginForm h1 {
  text-align: center;
  position: relative;
  top: 100px;
  right: 20px;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 80px;
}
.body .loginContent .loginForm .input1 {
  width: 400px;
  margin-left: 70px;
  margin-top: 150px;
  height: 30px;
}
.body .loginContent .loginForm .input2 {
  width: 400px;
  margin-left: 70px;
  margin-top: 20px;
  height: 30px;
}
.body .loginContent .loginForm button {
  background-color: #FDBC58;
  position: relative;
  left: 100px;
  top: 50px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.body .loginContent .loginForm p {
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
}
.body .loginContent .loginImage {
  width: 70%;
  height: 100%;
  background-image: url(../../images/art.jpg);
  background-size: cover;
  background-position: center;
}
.body .loginContent .loginImage .blackout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}
.body .loginContent .loginImage .blackout h1 {
  color: white;
  text-align: center;
  font-size: 80px;
  position: relative;
  top: 300px;
  font-family: "Annie Use Your Telescope", cursive;
}
.body .loginContent .loginImage .blackout p {
  color: white;
  text-align: center;
  position: relative;
  top: 400px;
}
.body .loginContent .loginImage .blackout button {
  background-color: #FDBC58;
  width: 200px;
  height: 40px;
  position: relative;
  left: 570px;
  top: 400px;
  border: none;
  border-radius: 50px;
}
.body .dashboardGreeting {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
}
.body .dashboardGreeting .pfp {
  width: 200px;
  height: 200px;
  background-image: url(../../images/duckPfp.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 50px;
}
.body .dashboardGreeting h1 {
  text-align: center;
  font-size: 50px;
  position: relative;
  right: 400px;
  bottom: 80px;
}
.body .dashboardNav {
  width: 100%;
  height: 60px;
  background-color: rgb(226, 226, 226);
  position: sticky;
  top: 100px;
  z-index: 1000;
}
.body .dashboardNav ul {
  position: relative;
  top: 15px;
  margin: 0 auto;
}
.body .dashboardNav ul li {
  display: inline;
  padding: 0px 100px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 200px;
}
.body .dashboardNav ul li a {
  scroll-behavior: smooth;
}
.body #courses {
  width: 100%;
  height: fit-content;
}
.body #courses .getClasses {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}
.body #courses h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.body #courses .class {
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.099);
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.body #courses .class .line {
  height: 2px;
  width: 60%;
  background-color: black;
  position: relative;
  top: 40px;
  margin: 0 auto;
}
.body #courses .class h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
  font-weight: lighter;
  display: inline;
  position: relative;
  top: 30px;
}
.body #courses .class p {
  font-size: 15px;
  position: relative;
  top: 50px;
  width: 90%;
  margin: 0 auto;
}
.body #addCourses {
  width: 100%;
  height: 100vh;
  background-color: blue;
}
.body #dropClass {
  width: 100%;
  height: 100vh;
  background-color: green;
}
.body #creditHours {
  width: 100%;
  height: 100vh;
  background-color: orange;
}
.body #totalCost {
  width: 100%;
  height: 100vh;
  background-color: purple;
}

.body2 {
  background-image: url(../../images/nature.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}
.body2 .header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 20000;
}
.body2 .header a {
  color: white;
  text-decoration: none;
}
.body2 .header .headerLeft {
  width: 33.33%;
  height: 100%;
  background-color: black;
  text-transform: uppercase;
}
.body2 .header .headerLeft ul {
  margin-top: 35px;
}
.body2 .header .headerLeft ul li {
  display: inline;
  color: white;
  background-image: linear-gradient(to right, #FDBC58, #FDBC58 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.body2 .header .headerLeft ul li:before {
  content: "";
  background: #FDBC58;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.body2 .header .headerLeft ul li:hover {
  background-position: 0;
}
.body2 .header .headerLeft ul li:hover::before {
  width: 100%;
}
.body2 .header .headerMiddle {
  width: 33.33%;
  height: 100%;
  background-color: black;
}
.body2 .header .headerMiddle .logo {
  width: 80px;
  height: 80px;
  background-image: url(../../images/mcqLogo.png);
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: 8px;
}
.body2 .header .headerRight {
  width: 33.33%;
  height: 100%;
  background-color: black;
  display: inline;
  text-transform: uppercase;
}
.body2 .header .headerRight ul {
  margin-top: 35px;
}
.body2 .header .headerRight ul li {
  display: inline;
  color: white;
  background-image: linear-gradient(to right, #FDBC58, #FDBC58 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.body2 .header .headerRight ul li:before {
  content: "";
  background: #FDBC58;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.body2 .header .headerRight ul li:hover {
  background-position: 0;
}
.body2 .header .headerRight ul li:hover::before {
  width: 100%;
}
.body2 .blackoutBody {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.487);
}
.body2 .signUpContent {
  width: 700px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
.body2 .signUpContent .terms button {
  background-color: #FDBC58;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin-top: 20px;
}
.body2 .signUpContent .readTerms {
  position: relative;
  top: 20px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
}
.body2 .signUpContent .readTerms .checkbox {
  margin-right: 400px;
  position: relative;
  top: 14px;
}
.body2 .signUpContent .readTerms p {
  margin-top: -60px;
}
.body2 .signUpContent .register {
  width: 90%;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.body2 .signUpContent .register input {
  width: 100px;
}
.body2 .signUpContent .register button {
  background-color: #FDBC58;
  height: 30px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
}
.body2 .signUpContent .register button:hover {
  background-color: #e2a03b;
}
.body2 .signUpContent .register h1 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 70px;
}
.body2 .createClass {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
.body2 .createClass input {
  margin-top: 10px;
  margin-left: 10px;
}
.body2 .createClass button {
  margin-top: 40px;
  width: 150px;
  height: 40px;
  color: black;
  background-color: #FDBC58;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.body2 .createClass button:hover {
  background-color: #e2a03b;
}
.body2 .loginUser {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.body2 .loginUser h1 {
  margin: 0 auto;
  position: relative;
  left: 80px;
  font-size: 20px;
}
.body2 .loginUser button {
  background-color: #FDBC58;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 6px;
  margin-right: 250px;
  font-size: 10px;
  transition: 0.5s;
}
.body2 .loginUser button:hover {
  background-color: #e2a03b;
}
.body2 .getUser {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.body2 .getUser h1 {
  margin: 0 auto;
  position: relative;
  left: 90px;
  font-size: 20px;
}
.body2 .getUser button {
  background-color: #FDBC58;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 6px;
  margin-right: 250px;
  font-size: 10px;
  transition: 0.5s;
}
.body2 .getUser button:hover {
  background-color: #e2a03b;
}
.body2 .logout {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.body2 .logout h1 {
  margin: 0 auto;
  position: relative;
  left: 110px;
  font-size: 20px;
}
.body2 .logout button {
  background-color: #FDBC58;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 6px;
  margin-right: 250px;
  font-size: 10px;
  transition: 0.5s;
}
.body2 .logout button:hover {
  background-color: #e2a03b;
}
.body2 .addClass {
  position: relative;
  top: 20px;
  width: 200px;
  margin: 0 auto;
}
.body2 .addClass h1 {
  font-size: 20px;
}
.body2 .addClass button {
  background-color: #FDBC58;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 10px;
  transition: 0.5s;
}
.body2 .addClass button:hover {
  background-color: #e2a03b;
}
.body2 .getClasses {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.body2 .getClasses h1 {
  margin: 0 auto;
  position: relative;
  left: 80px;
  font-size: 20px;
}
.body2 .getClasses button {
  background-color: #FDBC58;
  color: black;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 6px;
  margin-right: 250px;
  font-size: 10px;
  transition: 0.5s;
}
.body2 .getClasses button:hover {
  background-color: #e2a03b;
}
.body2 p {
  position: relative;
  top: 50px;
}
.body2 #launchButton {
  margin-top: 100px;
  background-color: black;
  border: none;
  width: 200px;
  height: 50px;
  transition: 0.5s;
}
.body2 #launchButton:hover {
  background-color: rgba(0, 0, 0, 0.597);
}
.body2 .modal-dialog {
  margin-top: 200px;
}
.body2 .modal-body {
  height: 350px;
}
.body2 .modal-footer {
  height: 50px;
}

@keyframes myAnim {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateY(-8px);
  }
  20%, 40%, 60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
@keyframes SecondAni {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/*# sourceMappingURL=style.css.map */
