$primary-color:#FDBC58;
$secondary-color:#6BA368;
$secondary-font:'Raleway', sans-serif;
$cursive-font:'Annie Use Your Telescope', cursive;

* {
    margin:0;
}
body {
    background-color:black;
}
.body {
    width:100%;
    height:1500px;
    background-color:white;
    .header {
        width:100%;
        height:100px;
        display:flex;
        flex-direction:row;
        text-align:center;
        position:sticky;
        top:0;
        z-index:20000;
        a {
            color:white;
            text-decoration:none;
        }

        .headerLeft {
            width:33.33%;
            height:100%;
            background-color:black;
            text-transform:uppercase;
            ul {
                margin-top:35px;
            }
            ul li {
                display:inline;
                color:white;
                background-image: linear-gradient(
                    to right,
                    #FDBC58,
                    #FDBC58 50%,
                    #ffffff 50%
                  );
                  background-size: 200% 100%;
                  background-position: -100%;
                  display: inline-block;
                  padding: 5px 15px;
                  position: relative;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  transition: all 0.3s ease-in-out;

            }
            ul li:before {
                content: '';
                background: #FDBC58;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
            }
            ul li:hover {
                // font-size:10px;
                background-position: 0;
            }
            ul li:hover::before{
                width: 100%;
            }
        }
        .headerMiddle {
            width:33.33%;
            height:100%;
            background-color:black;
            
            .logo {
                width:80px;
                height:80px;
                background-image: url(../../images/mcqLogo.png);
                background-size:cover;
                margin: 0 auto;
                position:relative;
                top:8px;
            }
        }
        .headerRight {
            width:33.33%;
            height:100%;
            background-color:black;
            display:inline;
            text-transform:uppercase;
            ul {
                margin-top:35px;
            }
            ul li {
                display:inline;
                color:white;
                background-image: linear-gradient(
                    to right,
                    #FDBC58,
                    #FDBC58 50%,
                    #ffffff 50%
                  );
                  background-size: 200% 100%;
                  background-position: -100%;
                  display: inline-block;
                  padding: 5px 15px;
                  position: relative;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  transition: all 0.3s ease-in-out;

            }
            ul li:before {
                content: '';
                background: #FDBC58;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
            }
            ul li:hover {
                // font-size:10px;
                background-position: 0;
            }
            ul li:hover::before{
                width: 100%;
            }
        }
    }
    .greeting {
        width: 100%;
        height:90vh;
        background-color:$primary-color;
        display:flex;
        flex-direction:row;
        border-bottom: 5px solid black;
        .greetingText {
            font-size:80px;
            width:700px;
            height:500px;
            position:relative;
            left:200px;
            top:200px;
            button {
                width:300px;
                height:60px;
                background-color:black;
                border:none;
                position:relative;
                top:70px;
                left:-240px;
                border-radius:50px;
                color:white;
                font-size:20px;
            }
            .login {
                font-size:15px;
                width:500px;
                text-align:center;
                position:relative;
                top:80px;
                left:-90px;
                color:white;

            }
        }
        .books {
            width:500px;
            height:500px;
            background-image: url(../../images/books.png);
            background-size:cover;
            margin-left:400px;
            margin-top:100px;
        }
    }
    .aboutUsSection {
        width:100%;
        height:600px;
        background-color:white;
        display:flex;
        flex-direction:row;
        .aboutUsText {
            width:700px;
            height:200px;
            margin:200px;
            h1 {
                font-size:20px;
            }
            .division {
                width:200px;
                height:5px;
                background-color:$primary-color;
                margin-top:10px;
            }
            h4 {
                font-size:40px;
                margin-top:20px;
                color:#995e05;
                font-family: 'Raleway', sans-serif;
            }
            p {
                font-size:15px;
                margin-top:20px;
            }
            button {
                width:300px;
                height:50px;
                margin-top:20px;
                background-color:#e09a33;
                border:none;
                border-radius:10px;
                
            }
        }
        .aboutUsImage {
            width:700px;
            height:500px;
            background-image: url(../../images/teacherDuck.png);
            background-size:cover;
            position:relative;
            top:50px;
            right:100px;
            
        }
    }
    footer {
        width:100%;
        height:300px;
        background-color:black;
    }
    // About page 
    .aboutGreeting {
        width:100%;
        height:500px;
        background-image: url(../../images/books.jpeg);
        background-size:cover;
        background-attachment:fixed;
        .blackout {
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.592);
            h1 {
                color:white;
                font-family: $cursive-font;
                font-size:80px;
                text-align:center;
                position:relative;
                top:100px;
            }
            .devider {
                width:150px;
                height:5px;
                background-color:white;
                margin:0 auto;
                position:relative;
                top:120px;
            }
            h2 {
                text-align:center;
                color:white;
                position:relative;
                font-family:$secondary-font;
                top:150px;
            }
            p {
                text-align:center;
                color:white;
                position:relative;
                top:230px;
            }
            .arrow {
                width:50px;
                height:50px;
                background-image: url(../../images/arrow.png);
                background-size:cover;
                margin:0 auto;
                position:relative;
                top:225px;
                animation: myAnim 4s ease 0s infinite normal forwards;
            }
        }
    }
    .aboutDescription {
        width:100%;
        height:500px;
        display:flex;
        flex-direction:row;
        margin-top:50px;
        .descText {
            width:900px;
            height:200px;
            position:relative;
            left:100px;
            top:130px;
            h1 {
                font-family:$secondary-font;
                font-size:45px;
            }
            h3 {
                margin-top:20px;
            }
        }
        .us {
            width:600px;
            height:500px;
            position:relative;
            left:250px;
            top:20px;
        }
        .isaac {
            width:300px;
            height:300px;
            background-color:rgb(127, 159, 255);
            background-image: url(../../images/me.png);
            background-size:cover;

        }
        .josh {
            width:300px;
            height:300px;
            background-color:rgb(127, 255, 191);
            background-image: url(../../images/josh.png);
            background-size:cover;
            position:relative;
            left:200px;
            top:-100px;
            z-index:10;
        }
    }
    //    Help Page
    .helpGreeting {
        display:flex;
        flex-direction:row;
        height:100%;
        width:100%;
        .aside {
            width:20%;
            height:100%;
            background-color:$primary-color;
            h1 {
                text-align:center;
                background-color:grey;
                padding-top:10px;
                padding-bottom:10px;
                color:white;
            }
            #buttonColor {
                background-color:$primary-color;
            }
        }
        .helpContent {
            width:80%;
            height:100vh;
            background-color:white;
            .helpImage {
                width:100%;
                background-image: url(../../images/lake.webp);
                background-size:cover;
                background-position:center;
                background-attachment:fixed;
                .helpImageBlackout {
                    width:100%;
                    height:200px;
                    background-color:rgba(0, 0, 0, 0.521);
                }
                h1 {
                    text-align:center;
                    position: relative;
                    font-size:50px;
                    padding-top:50px;
                    padding-bottom:50px;
                    color:white;
                }
            }


            .icons {
                width:100%;
                height:100px;
                display:flex;
                flex-direction:row;
                margin-top:50px;
                justify-content: center;
                .helpChat {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/helpIcon1.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        right:100px;
                        font-size:15px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .helpChat:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .flag {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/flag.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        font-size:15px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .flag:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .email {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/email.png);
                    background-size:cover;
                    margin:0 auto;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        left:15px;
                        font-size:15px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .email:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .start {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/start.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .start:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .shield {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/shield.png);
                    background-size:cover;
                    margin:0 auto;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        right:15px;
                        font-size:15px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .shield:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .contact {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/contact.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .contact:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .locate {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/locate.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .locate:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .merch {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/merch.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .merch:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .question {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/question.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .question:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
                .donate {
                    width:100px;
                    height:100px;
                    background-image: url(../../images/donate.png);
                    background-size:cover;
                    margin:0 auto;
                    text-align:center;
                    transition:.5s;
                    border-radius:10px;
                    h5 {
                        position:relative;
                        bottom:25px;
                        width:300px;
                        height:10px;
                        font-size:15px;
                        right:100px;
                        font-family:$secondary-font;
                        font-weight:bolder;
                    }
                }
                .donate:hover {
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
            }

        }
    }
    .footer {
        width:100%;
        height:300px;
        background-color:black;
    }
    .loginContent {
        width:100%;
        height:94%;
        background-color:blue;
        display:flex;
        flex-direction:row;
        .loginForm {
            width:30%;
            height:100%;
            background-color:white;
            h1 {
                text-align:center;
                position:relative;
                top:100px;
                right:20px;
                font-family:$cursive-font;
                font-size:80px;
            }
            .input1 {
                width:400px;
                margin-left:70px;
                margin-top:150px;
                height:30px;
            }
            .input2 {
                width:400px;
                margin-left:70px;
                margin-top:20px;
                height:30px;   
            }
            button {
                background-color:$primary-color;
                position:relative;
                left:100px;
                top:50px;
                width:300px;
                height:40px;
                border:none;
                border-radius:5px;
            }
            p {
                text-align:center;
                margin-top:10px;
                margin-right:50px;
            }
        }
        .loginImage {
            width:70%;
            height:100%;
            background-image:url(../../images/art.jpg);
            background-size:cover;
            background-position:center;
            .blackout {
                width:100%;
                height:100%;
                background-color:rgba(0, 0, 0, 0.507);
                h1 {
                    color:white;
                    text-align:center;
                    font-size:80px;
                    position:relative;
                    top:300px;
                    font-family:$cursive-font;
                }
                p {
                    color:white;
                    text-align:center;
                    position:relative;
                    top:400px;
                }
                button {
                    background-color:$primary-color;
                    width:200px;
                    height:40px;
                    position:relative;
                    left:570px;
                    top:400px;
                    border:none;
                    border-radius:50px;
                }

            }
        }
    }
    // dashboard
    .dashboardGreeting {
        width:100%;
        height:300px;
        background-color:rgba(0, 0, 0, 0.2);
        .pfp {
            width:200px;
            height:200px;
            background-image: url(../../images/duckPfp.jpeg);
            background-size:cover;
            background-position:center;
            border-radius:50%;
            position:relative;
            top:40px;
            left:50px;
        }
        h1 {
            text-align:center;
            font-size:50px;
            position:relative;
            right:400px;
            bottom:80px;
        }
    }
    .dashboardNav {
        width:100%;
        height:60px;
        background-color:rgb(226, 226, 226);
        position:sticky;
        top:100px;
        z-index:1000;
        ul {
            position:relative;
            top:15px;
            margin:0 auto;
        }
        ul li {
            display:inline;
            padding:0px 100px;
            text-align:center;
            margin: 0 auto;
            position:relative;
            left:200px;
            color:black;
        }
        a {
            scroll-behavior: smooth;
            text-decoration:none;

        }
    }
    #courses {
        width:100%;
        height:fit-content;
        .getClasses {
            width:100%;
            height:auto;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            flex-wrap:wrap;
            padding-top:15px;
        }
        h1 {
            font-family:$secondary-font;
            font-size:30px;
            font-weight:bolder;
            text-align:center;
            padding-top:20px;
            padding-bottom:20px;
        }
        .class {
            width:300px;
            height:400px;
            text-align:center;
            background-color:rgba(0, 0, 0, 0.099);
            margin: 0 auto;
            border-radius:10px;
            position:relative;
            margin-top:20px;
            margin-bottom:20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            .line {
                height:2px;
                width:60%;
                background-color:black;
                position:relative;
                top:40px;
                margin:0 auto;
            }
            h1 {
                font-family:Arial, Helvetica, sans-serif;
                font-size:30px;
                color:black;
                font-weight:lighter;
                display:inline;
                position:relative;
                top:30px;
            }
            p {
                font-size:15px;
                position:relative;
                top:50px;
                width:90%;
                margin: 0 auto;
            }
        }
    }
    #addCourses {
        width:100%;
        height:500px;
        background-color:blue;
        display:flex;
        flex-direction:row;
        .scrollDiv {
            width:300px;
            height:100%;
            background-color:rgb(194, 194, 194);
            overflow-y: auto;
            h3 {
                font-size:35px;
                text-align:center;
                padding-top:20px;
                font-weight:bolder;
                font-family:$secondary-font;
            }
            ol {
                position:relative;
                display:inline;
                button {
                    width:70px;
                    height:20px;
                    background-color:rgb(75, 75, 75);
                    font-size:10px;
                    position:relative;
                    left:90px;
                    border-radius:5px;
                    border:none;
                    bottom:5px;
                    font-family:Arial, Helvetica, sans-serif;
                    color:white;
                }
            }
            ol li:nth-child(odd) {
                font-size:20px;
                background-color:rgb(239, 239, 239);
                padding-left:10px;
                font-family:$secondary-font;
                font-weight:bolder
            }
            ol li:nth-child(even) {
                font-size:20px;
                background-color:rgb(194, 194, 194);
                padding-left:10px;
                font-family:$secondary-font;
                font-weight:bolder
            }
        }
    }
    #dropClass {
        width:100%;
        height:100vh;
        background-color:green;
    }
    #creditHours {
        width:100%;
        height:100vh;
        background-color:orange;
    }
    #totalCost {
        width:100%;
        height:100vh;
        background-color:purple;
    }
}
    // Sign Up Page
    .body2 {
        background-image: url(../../images/nature.jpeg);
        background-size:cover;
        background-attachment:fixed;
        height:1000px;
        .header {
            width:100%;
            height:100px;
            display:flex;
            flex-direction:row;
            text-align:center;
            position:sticky;
            top:0;
            z-index:20000;
            a {
                color:white;
                text-decoration:none;
            }
    
            .headerLeft {
                width:33.33%;
                height:100%;
                background-color:black;
                text-transform:uppercase;
                ul {
                    margin-top:35px;
                }
                ul li {
                    display:inline;
                    color:white;
                    background-image: linear-gradient(
                        to right,
                        #FDBC58,
                        #FDBC58 50%,
                        #ffffff 50%
                      );
                      background-size: 200% 100%;
                      background-position: -100%;
                      display: inline-block;
                      padding: 5px 15px;
                      position: relative;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      transition: all 0.3s ease-in-out;
    
                }
                ul li:before {
                    content: '';
                    background: #FDBC58;
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    transition: all 0.3s ease-in-out;
                }
                ul li:hover {
                    // font-size:10px;
                    background-position: 0;
                }
                ul li:hover::before{
                    width: 100%;
                }
            }
            .headerMiddle {
                width:33.33%;
                height:100%;
                background-color:black;
                
                .logo {
                    width:80px;
                    height:80px;
                    background-image: url(../../images/mcqLogo.png);
                    background-size:cover;
                    margin: 0 auto;
                    position:relative;
                    top:8px;
                }
            }
            .headerRight {
                width:33.33%;
                height:100%;
                background-color:black;
                display:inline;
                text-transform:uppercase;
                ul {
                    margin-top:35px;
                }
                ul li {
                    display:inline;
                    color:white;
                    background-image: linear-gradient(
                        to right,
                        #FDBC58,
                        #FDBC58 50%,
                        #ffffff 50%
                      );
                      background-size: 200% 100%;
                      background-position: -100%;
                      display: inline-block;
                      padding: 5px 15px;
                      position: relative;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      transition: all 0.3s ease-in-out;
    
                }
                ul li:before {
                    content: '';
                    background: #FDBC58;
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    transition: all 0.3s ease-in-out;
                }
                ul li:hover {
                    // font-size:10px;
                    background-position: 0;
                }
                ul li:hover::before{
                    width: 100%;
                }
            }
        }
        .blackoutBody {
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.487);
        }
        .signUpContent {
            width:700px;
            height:500px;
            background-color:white;
            border-radius:10px;
            text-align:center;
            margin:0 auto;
            position:relative;
            top:200px;
            .terms {
                button {
                    background-color:$primary-color;
                    border:none;
                    border-radius:5px;
                    width:250px;
                    height:40px;
                    margin-top:20px;
                }
            }
            .readTerms {
                position:relative;
                top:20px;
                width:100%;
                height:50px;
                margin:0 auto;
                .checkbox {
                    margin-right:400px;
                    position:relative;
                    top:14px;
                }
                p {
                    margin-top:-60px;
                }
            }
            .register {
                width:90%;
                height:120px;
                margin:0 auto;
                position:relative;
                top:20px;
                input {
                    width:100px;
                }
                button {
                    background-color:$primary-color;
                    height:30px;
                    border:none;
                    border-top-right-radius:5px;
                    border-bottom-right-radius:5px;
                    transition:.5s;
                }
                button:hover {
                    background-color:#e2a03b;
                }
                h1 {
                    font-family:$cursive-font;
                    font-size:70px;
                }
            }
        }
        .createClass {
            width:90%;
            height:90%;
            margin:0 auto;
            input {
                margin-top:10px;
                margin-left:10px;
            }
            button {
                margin-top:40px;
                width:150px;
                height:40px;
                color:black;
                background-color:$primary-color;
                border:none;
                border-radius:5px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        .loginUser {
            margin-top:20px;
            display:flex;
            flex-direction:row;
            h1 {
                margin:0 auto;
                position:relative;
                left:80px;
                font-size:20px;
            }
            button {
                background-color:$primary-color;
                color:black;
                width:100px;
                height:20px;
                border-radius:5px;
                border:none;
                margin-top:6px;
                margin-right:250px;
                font-size:10px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        .getUser {
            margin-top:20px;
            display:flex;
            flex-direction:row;
            h1 {
                margin:0 auto;
                position:relative;
                left:90px;
                font-size:20px;
            }
            button {
                background-color:$primary-color;
                color:black;
                width:100px;
                height:20px;
                border-radius:5px;
                border:none;
                margin-top:6px;
                margin-right:250px;
                font-size:10px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        .logout {
            margin-top:20px;
            display:flex;
            flex-direction:row;
            h1 {
                margin:0 auto;
                position:relative;
                left:110px;
                font-size:20px;
            }
            button {
                background-color:$primary-color;
                color:black;
                width:100px;
                height:20px;
                border-radius:5px;
                border:none;
                margin-top:6px;
                margin-right:250px;
                font-size:10px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        .addClass {
            position:relative;
            top:20px;
            width:200px;
            margin:0 auto;
            h1 {
                font-size:20px;
            }
            button {
                background-color:$primary-color;
                color:black;
                width:100px;
                height:20px;
                border-radius:5px;
                border:none;
                margin-top:10px;
                font-size:10px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        .getClasses {
            margin-top:20px;
            display:flex;
            flex-direction:row;
            h1 {
                margin:0 auto;
                position:relative;
                left:80px;
                font-size:20px;
            }
            button {
                background-color:$primary-color;
                color:black;
                width:100px;
                height:20px;
                border-radius:5px;
                border:none;
                margin-top:6px;
                margin-right:250px;
                font-size:10px;
                transition:.5s;
            }
            button:hover {
                background-color:#e2a03b;
            }
        }
        p {
            position:relative;
            top:50px;
        }
        #launchButton {
            margin-top:100px;
            background-color:black;
            border:none;
            width:200px;
            height:50px;
            transition:.5s;
        }
        #launchButton:hover {
         background-color:rgba(0, 0, 0, 0.597);   
        }
        .modal-dialog {
            margin-top:200px;
        }
        .modal-body {
            height:350px;
        }
        .modal-footer {
            height:50px;
        }
    }


//
// animation code
@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}
@keyframes SecondAni {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

